{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 p-3 text-end mt-5">
            <img src="{{ url_for('static', filename='assets/foto.jpg') }}" class="rounded-circle" width="250" alt="Foto">
        </div>
        <div class="col-md-4 p-3 mt-5 ms-3 text-center d-flex align-items-center">
            <h5 class="fw-semibold lh-lg">Salsabila Maharani Putri <br>211524026 <br>3A - D4 Teknik Informatika </h5>
        </div>
    </div>
</div>
{% endblock %}